*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  align-items: end;
  gap: 30px;
  margin: 0 auto;
  width: 1140px;
}

.result {
  display: flex;
  grid-area: result;
  flex-direction: column;
  gap: 22px;
}

.result__video-container {
  position: relative;
  inline-size: 100%;
  block-size: 386px;
  width: 711px;
  background-color: black;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 70%;
  letter-spacing: 0;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  min-width: 225px;
  line-height: 100%;
  text-indent: -3px;

}

.search-form__checkbox-list {
  display: flex;
  gap: 11.5px;
  align-items: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  padding: 0;
  margin: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-top: 2px;
  flex-shrink: 0;
  position: relative;
}

.search-form__checkbox:focus-visible {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content__details {
  grid-area: details;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  block-size: 100%;
  gap: 26px;
}
.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  margin-top: 12px;
  transform: translateX(-1px);
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  position: relative;
  block-size: 295px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 rgb(217 217 217 / 10%);
  padding-bottom: 4px;
  box-sizing: content-box;
}

.content__list-item {
  inline-size: 100%;
}

.content__video-card {
  display: flex;
  align-items: stretch;
  background-color: #1b1919;
  gap: 12px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  max-width: 185px;
  overflow: hidden;
  transform: translateX(2px);
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  margin-bottom: 6px;
  cursor: pointer;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
}

.more-button {
  padding: 7px 140px;
  margin-top: 35px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  outline-offset: 2px;
}

.search-form__submit-button {
  padding: 7px 72px;
  margin-top: 10px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  cursor: pointer;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
  border: none;
}

.content__card-link:active .content__video-card {
  background-color: #545050;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:focus-visible {
  border: 1px solid #fff;
}

.search-form__fieldset:first-of-type,
.search-form__fieldset:last-of-type {
  transform: translateY(-5px);
}